*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
}
.logo{
    height: 0;
}
.navigation{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    border: 1px solid black;
    
}
.menu{
   
  font-size: 25px;
  margin: 37px 25px;

}
.menu a{
    padding:10px;
}

h1{
    font-size: 50px;
    color: #c5302e;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-cards{
    display: flex;
    justify-content: space-evenly;

}
.card{
    box-shadow: 0 0 12px 5px;
    background-color: #f1f1f1;
    width: 15%;
    border-radius: 10px;

}
.card-img{
    width: 100%;
    object-fit: cover;
    /* border-radius: 30px; */
}

 button{
    background-color: #0061ff;
    color: #f1f1f1;
    border-radius: 10px;
    margin: 10px ;
    width: 80px;
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    
}
.next-btn{
    float: right;
    margin-right: 80px;
}
.topic-btn{
    float: left;
}

.image-container{
    position: relative;
    margin-top: 50px;
}
.blurimg{
    opacity: 0.7;
}

.left {
    position: absolute;
    bottom: 700px;
    right: 800px;
    color: black;
    padding-left: 10px;
    font-size: 20px;
   
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #c5302e;
}
.social{
    float: right;
}

h2{
      font-size: 50px;
}

.addr h3{
    color: #f1f1f1;
}
