body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-image:url(/Assets/plumber.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    opacity: 0.8;  
}

.info{
    display: flex;
    padding-top: 100px;
    justify-content: space-evenly;
}
.contact{
    font-size: 50px;
    color: black;
}
h1{
    font-size: 50px;

}
label{
    float: left;
    font-size: 20px;
}
button{
    background-color:#0ca2dd;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;   
}
input{
    
    padding: 10px;
    border-radius: 4px; 
}
.footer-content{
    display:flex;
    justify-content: space-evenly;
    
}
.cards{
    margin: 10px;
    text-align: center;
}
.form-content{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}